body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #f4f4f9;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 400px);
     gap: 50px;
      justify-content: center;
    }

    .box {
      position: relative;
      width: 400px;
      height: 250px;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      cursor: pointer;
    }

    .box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.5s ease;
    }

    .box:hover img {
      transform: scale(1.1);
    }

    .overlay {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.5s ease;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    .box:hover .overlay {
      opacity: 1;
    }